  <div class="content-padded">

    <h1>Start tracking favors today!</h1>

<!--     <img src="http://placehold.it/300x200/00aeef/fff"> -->
  		<form>
  			<input type="text" placeholder="awesome@favors.com" />
  			<br><br>
  			<input type="password" placeholder="**********" />
  			<br><br>
  			<input type="password" placeholder="**********" />
  			<br><br>
  			<input type="submit" value="Register" ontouchend="steroids.modal.hide()" />
  		</form>
<!--     <div class="topcoat-button center full" ontouchend="steroids.modal.hide()">Hide the modal</div> -->

  </div>