<div class="content-padded">

  <h1>Welcome to Favors App!</h1>

  	  <form>
  	  	<input type="text" placeholder="Ralph@IAmAwesome.com" /><br>
  	  	<input type="password" placeholder="password" />
  	  	<br>
  	  	<input ontouchend="showCat()"type="submit" value="Login">
  	  </form>
      
      <!--<div class="topcoat-button --cta center full" ontouchend="showCat()">cat.html</div>-->

      <br><br>
      <h6>Don't have a login?</h6>
      <div class="topcoat-button center full" ontouchend="showCatModal()">Register Now</div>

</div>
