  <div class="content-padded">

<h2>Register to start tracking favors!</h2>
	<form role="form">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <div class="form-group">
	    <label for="confirmPassword">Confirm Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
	  </div>
	  <button type="submit" class="btn btn-success btn-block" ontouchend="steroids.modal.hide()" >Register</button>
	</form>

<!--     <img src="http://placehold.it/300x200/00aeef/fff"> -->
<!--   		<form>
  			<input type="text" placeholder="awesome@favors.com" />
  			<br><br>
  			<input type="password" placeholder="**********" />
  			<br><br>
  			<input type="password" placeholder="**********" />
  			<br><br>
  			<input type="submit" value="Register" ontouchend="steroids.modal.hide()" />
  		</form> -->
<!--     <div class="topcoat-button center full" ontouchend="steroids.modal.hide()">Hide the modal</div> -->

  </div>